.divPagInicial{
    align-items: center;
    background-image: url("background-pig.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 32px;
    justify-content: center;
    width: 100vw;
}